* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e4f9f5;
}

h4 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1.5em;
  padding-left: 1.5em;
  background-color: #40514e;
  color: #e4f9f5;
  box-shadow: 2px 2px 2px #e4f9f5;
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 0;
  z-index: 1000;
}

#logo {
  display: flex;
  align-items: center;
}

#logo h4 {
  padding: 0.5em 1em;
  font-weight: 300;
  font-family: monospace;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  margin: 1em;
  font-size: 1.5em;
}

#navbar a {
  text-decoration: none;
  color: #e4f9f5;
  border-radius: 0.5em;
}

.nav-list > a:hover {
  background-color: #11999e;
  transition: ease-in 200ms;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 22px;
  cursor: pointer;
}

.menu-btn .btn-line {
  width: 28px;
  height: 4px;
  margin: 0 0 5px 0;
  background: #fff;
  visibility: hidden;
  transition: 0.2s ease-in;
}

#logo-img {
  height: 3em;
  width: 3em;
  max-width: 100%;
  max-height: 100%;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  height: 100vh;
}

#welcome-section h1 {
  margin-top: 1em;
  padding: 0.5em;
  font-size: 3em;
  color: #40514e;
}

#welcome-section p {
  font-size: 1.5em;
}

.prof-pic {
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: auto;
  border-radius: 100%;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0 2em 0;
}

#profile-link {
  text-decoration: none;
  padding: 1em;
  background-color: #e4f9f5;
  border: 1px solid #40514e;
  color: #40514e;
  border-radius: 1em;
  margin-bottom: 4em;
}

#profile-link:hover {
  color: #e4f9f5;
  background-color: #40514e;
  transition: ease-in 200ms;
}

.proj-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  margin: 4em 12em 2em 12em;
}

.project-tile {
  max-width: 100%;
  max-height: auto;
  margin: 2em;
  overflow: hidden;
}

#projects h2 {
  font-size: 2em;
  color: #40514e;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: #30e3ca;
}

.social {
  padding-top: 1em;
}

footer .soc {
  font-size: 2.5em;
  margin: 1em;
  color: #40514e;
}

footer .soc:hover {
  color: #11999e;
}

footer p {
  margin-top: 2em;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
}

.project-pic {
  max-width: 100%;
  height: auto;
}

.project-pic:hover {
  transform: scale(1.05, 1.05);
  transition: ease-in 500ms;
}

.proj-title {
  text-align: center;
  background-color: #30e3ca;
  padding: 0.5em;
  color: #40514e;
}

.createdfor {
  font-size: 1em;
  color: #40514e;
}

.createdfor a {
  text-decoration: none;
  color: #40514e;
}

.createdfor a:hover {
  color: #11999e;
}

.freecodecamp {
  font-family: monospace;
  font-size: 1.4em;
}

@media screen and (max-width: 880px) {
  .menu-btn {
    visibility: visible;
  }

  .menu-btn .btn-line {
    visibility: visible;
  }

  .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    background-color: #40514e;
    padding: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .proj-container {
    width: 80%;
    height: auto;
    margin: 4em;
  }

  .prof-pic {
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: auto;
  }

  .social-icons {
    display: flex;
    padding-top: 1em;
  }
}

.active {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 7px);
}

.toggle .line2 {
  visibility: hidden;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
